#
#
#    pybuild-deps compile --no-annotate --output-file=buildrequirements.lock.master requirements.lock.master
#
flit-core==4.0.2
packaging==26.3
setuptools-scm==10.2.1
vcs-versioning==2.2.4
wheel==0.48.0

# The following packages are considered to be unsafe in a requirements file:
setuptools==82.0.1
